[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pandas = "*"
psycopg2 = "*"
sqlalchemy = "*"
flask-api = "*"
flask = "*"
sklearn = "*"
pyspark = "*"
gunicorn = "*"
flask-socketio = "*"
eventlet = "*"

[requires]
python_version = "3.8"
